<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/myschool?serverTimezone=UTC</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.search.autoregister_listeners">true</property>
		<property name="hibernate.spring.jpa.database-platform">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		<mapping resource="com/echoes/DTO/Class.hbm.xml" />
		<mapping resource="com/echoes/DTO/ClassStudent.hbm.xml" />
		<mapping resource="com/echoes/DTO/Classroom.hbm.xml" />
		<mapping resource="com/echoes/DTO/Parent.hbm.xml" />
		<mapping resource="com/echoes/DTO/School.hbm.xml" />
		<mapping resource="com/echoes/DTO/Student.hbm.xml" />
		<mapping resource="com/echoes/DTO/StudentParent.hbm.xml" />
		<mapping resource="com/echoes/DTO/Subject.hbm.xml" />
		<mapping resource="com/echoes/DTO/Teacher.hbm.xml" />
	</session-factory>
</hibernate-configuration>
